/**
 * Nav Component CSS
 */


/* ==============================
MAIN NAV
============================== */

/* Base */
.nav__main {
    max-width: auto;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}

/* Style */
.nav__main {
    text-align: center;
}

/* ------------------------------
Link <a>
------------------------------ */

/* Base */
.nav__main a {
    display: flex;
    align-items: center;
    padding: .4em;
}

/* Style */
.nav__main a {
    color: var(--beige);
    font-size: 1.625em;
    border-radius: 100%;
}

/* Style of hover and active */
.nav__main a:hover,
.nav__main a:active {
    color: var(--pink);
}

/* Active page style */
.nav__main .active {
    color: var(--pink);
}

/* Style for "Add Bottle" link */
.nav__main .link--add,
.nav__main .link--add:hover,
.nav__main .link--add:active {
    transform: translateY(-.625em);
    background-color: var(--beige);
    border: 4px solid var(--white);
    color: var(--burgundy);
}