/**
 * APP COMPONENT CSS
 */


/* ==============================
Main Container
============================== */

/* Base */
.main__container {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

/* ------------------------------
Spacings
------------------------------ */
.main__container {
    margin: 0 auto 0;
    padding-top: 1.25rem;
}

.main__container:has( .main__container--header) {
    padding-top: 2.5rem;
}

.main__container:has( .nav__goback) {
    padding-top: 1.25rem;
}

.main__container:has(~ .nav__main) {
    padding-bottom: 6rem;
}

.main__container > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ------------------------------
Page Header
------------------------------ */

/* Base */
.main__container--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

/* With logo (home pages) */
.main__container--logo {
    gap: .5rem;
}
