<main class="main__container">
    <!-- Navigation -->
    <nav class="nav__main w-full fixed left-0 bottom-0 bg-burgundy shadow-nav">
        <!-- Cellars -->
        <a >
            <ion-icon name="wine-outline"></ion-icon>
        </a>
        
        <!-- Archives -->
        <a >
            <ion-icon name="file-tray-full-outline"></ion-icon>
        </a>
        
        <!-- SAQ Bottles -->
        <a  class="link--add">
            <ion-icon name="add-outline"></ion-icon>
        </a>
        
        <!-- Favorites -->
        <a >
            <ion-icon name="heart-outline"></ion-icon>
        </a>
        
        <!-- Menu -->
        <a >
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </a>
    </nav>

    <!-- Content -->
    <!-- <router-outlet></router-outlet> -->
</main>
